@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-color: #000000;
}

/*header part */

.header{
    height:100vh;
    width:100%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.title{
    color:rgb(154, 6, 6);
    font-family: 'Tiro Devanagari Marathi', serif;
    font-size: 70px;
    background:
    linear-gradient(-135deg, #000  50%, #fff 0) var(--_d, 100%)/250% no-repeat,
    linear-gradient(-135deg, #0000 50%, rgb(255, 254, 254) 0) var(--_d, 100%)/250% no-repeat;
  -webkit-background-clip: text, padding-box;
          background-clip: text, padding-box;
  transition: 0.8s
}

.title:hover {
    --_d: 50%;
  }

  a:visited { 
    text-decoration: none; 
    color:white;
   }
  

hr{
    border: dotted 5px; 
    border-bottom: none;
    color:#ffffff;
    width: 4%;
    margin: 100px auto;
    opacity: 70%;
}

.menu{
    font-family: 'Inter', sans-serif;
    color: white;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    font-size: 120%;
    color:white;
    transition: 1s;
    opacity: 80%;
}

.intro_img{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20;
    filter: brightness(50%);
    size: 1%;

}

.intro_text{
    font-family: 'Inter', sans-serif;
    font-size: 120%;
    text-align: center;
    line-height: 1.5;
    color: white;
   
}

.button-container{
    text-align: center;
    margin-top:20px;
}

.prev-btn,
.next-btn {
  color: rgb(138, 138, 138);
  opacity: 60%;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: white;
  opacity: 100%;
}



/* Story Part */
.story-container{
    position:relative;
    margin-top: 100px;
}

.story-img{
    z-index:0;
    opacity: 25%;
}

.story-text{
    position:absolute;
    z-index:1;
    color:white;
    font-size: 150%;
    line-height: 2;
    bottom:200px;
    right:50px;
    left:50px;
    padding-left:20px;
    padding-right:20px;
}


.story-obj{
    position:absolute;
    padding-top:30px;
    padding-left: 500px;

}

.obj-bracelet{
    margin-right: 25px;
    filter: brightness(0.5);
}

.obj-kerchief{
    margin-left: 25px;
    margin-right: 25px;
    filter: brightness(0.5);
}

.obj-earring{
    margin-left: 25px;
    filter: brightness(0.5);
}

.obj-bracelet:hover{
    filter: brightness(1);
}

.obj-kerchief:hover{
    filter: brightness(1);
}

.obj-earring:hover{
    filter: brightness(1);
}

.story-hover:hover{
    color:#1c039d;
    font-size: 120%;
    transition: 0.5s;
}

.flourish-embed{
    width: 600px;
    float: center;
    margin-left:480px;
    margin-bottom: 150px;
    margin-top:40px;
}

h2{
    color: white;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 220px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  .footer {
      margin-left: 250px;
      margin-top: 100px;
  }
